:root {
  font-family: sans-serif;
  --color-primary: #1F1F24;
  --color-primary-opacity: rgba(31, 31, 36, 0.6);
  --color-primary-light: #333337;
  --color-secundary: #FFE65A;
  --color-white: #EEE;
  --color-white-opacity: rgba(238, 238, 238, 0.3);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}