:root {
  font-family: 'Poppins', sans-serif;
  --color-primary: #1F1F24;
  --color-primary-opacity: rgba(31, 31, 36, 0.8);
  --color-primary-light: #333337;
  --color-secundary: #FFE65A;
  --color-white: #EEE;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  box-sizing: border-box;
}