.container-profile {
  margin: 5rem 0;
  padding: 2rem 0;
  background-color: var(--color-primary-light);
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
}

.container-profile-headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.container-profile-logo {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-about-me {
  width: 80%;
  margin: 3rem auto;
}

.container-about-me-p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

@media screen and (min-width: 1000px) {
  .container-profile-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap:2rem;
  }

  .container-about-me-p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .container-profile-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
}

.h1-profile {
  font-size: clamp(2rem, 0.597rem + 6.234vw, 8rem);
}

.h2-profile {
  font-size: clamp(1rem, 0.065rem + 4.156vw, 5rem);
  color: var(--color-secundary);
}

.p-profile {
  font-size: clamp(1rem, 0.883rem + 0.519vw, 1.5rem);
  text-align: center;
}

.p-bulb {
  filter: drop-shadow(0 0 1rem var(--color-secundary));
  transform: rotate(-30deg);
  width: clamp(2.5rem, 2.149rem + 1.558vw, 4rem);
}

.logo-profile {
  width: clamp(4rem, 0.727rem + 14.545vw, 18rem);
}

.h1-profile, .h2-profile {
  margin: 0;
  padding: 0;
  text-align: center;
}

.h1-profile, .p-profile {
  color: var(--color-white);
}